* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    list-style-position: unset;
}

body {
    width: 100%;
    height: 100vh;
}

nav {
    float: left;
    background-color: rgb(186, 212, 241);
    width: 90px;
    height: 100%;
    position: absolute;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    box-shadow: 0px 0px 1px black;
}

li::marker {
    display: none;
}

#navOptionOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-top: 25px;
}

#mainImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 18px;
    padding: 1px;
    border-radius: 50%;
    border: 1.5px solid rgb(3, 65, 73);
}

#navLogo {
    width: 90%;
    height: 90%;
}

#mainText {
    width: 100%;
    height: 20px;
    text-align: center;
    color: rgb(20, 121, 236);
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-size: 10px;
}

#navOptionTwo,
#navOptionThree,
#navOptionFour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%;
}

#navOptionTwo a,
#navOptionThree a,
#navOptionFour a {
    font-size: 10px;
}

#optionOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    height: 16px;
    width: 78px;
    color: white;
    background-color: rgb(20, 121, 236);
    border: 1px rgb(20, 121, 236) solid;

}

#navOptionFive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    height: 20px;
    width: 100%;
}

#navOptionFive span {
    font-size: 8px;
    font-family: "Caveat", cursive;
    color: rgb(66, 64, 64);
}

#firstContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fcMain {
    background-color: rgba(204, 235, 240, 0.445);
    border-radius: 5px;
    box-shadow: 0px 0px 3px black;
    width: 450px;
    height: 250px;
    justify-content: center;
    align-items: center;
}

#fcHead {
    width: 100%;
    text-align: center;
    color: rgb(20, 121, 236);
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 10px 15px;
}

#fcHead h2 {
    font-size: 15px;
    color: rgb(0, 194, 228);
}

#fcOptions {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#optContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formRowOne {
    width: 300px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon {
    margin-right: 5px;
    margin-top: 20px;
}

#Options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0px 1px 2px black;
    margin-top: 20px;
}

#selectOption {
    cursor: pointer;
    border: none;
    color: rgb(48, 45, 45);
}

#formRowTwo {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startTest {
    text-transform: uppercase;
    background-color: rgb(13, 194, 194);
    color: white;
    border: none;
    font-size: 11px;
    width: 100px;
    height: 25px;
    border-radius: 15px;
    box-shadow: 0px 1px 2px black;
    transition: 0.2s ease;
}

#startTest {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#startTest:after {
    content: '»';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}

#startTest:hover {
    padding-right: 24px;
    padding-left: 8px;
}

#startTest:hover:after {
    opacity: 1;
    right: 10px;
}

#secondContainer {
    height: 100vh;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 480px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
    padding-top: 10px;
}

.wrapper .input-field {
    opacity: 0;
    z-index: -999;
    position: absolute;
}

.wrapper .content-box {
    border-radius: 10px;
    border: 1px solid #bfbfbf;
}

.typing-text {
    overflow: scroll;
    height: 200px;
}

.typing-text::-webkit-scrollbar {
    display: none;
}

.typing-text {
    scrollbar-width: none;
}


.typing-text p {
    letter-spacing: 1px;
    word-break: break-all;
}

.typing-text p span {
    position: relative;
    width: 20px;
}

.typing-text p span.correct {
    color: #56964f;
}

.typing-text p span.incorrect {
    color: #cb3439;
    outline: 1px solid #fff;
    background: #ffc0cb;
    border-radius: 4px;
}

.typing-text p span.active {
    color: #17A2B8;
}

.typing-text p span.active::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    background: #17A2B8;
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

.content-box .content {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #bfbfbf;
}

.content button {
    outline: none;
    border: none;
    width: 100%;
    color: #fff;
    padding: 8px 0px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background: #17A2B8;
    transition: transform 0.3s ease;
}

.content button:active {
    transform: scale(0.97);
}

.typing-text {
    overflow-y: hidden;
    scroll-behavior: smooth;
}


.content .result-details {
    gap: 30px;
    display: flex;
    justify-content: space-between;
}

.result-details li {
    height: 32px;
    list-style: none;
    position: relative;
}

.result-details li:not(:first-child) {
    padding-left: 22px;
    border-left: 1px solid #bfbfbf;
}

.result-details li p {
    font-size: 19px;
}

.result-details li span {
    font-size: 20px;
    margin-left: 10px;
}

li span b {
    font-weight: 500;
}

li:not(:first-child) span {
    font-weight: 500;
}

.typing-text p {
    font-size: 19px;
    text-align: justify;
}

.content .result-details {
    width: 80%;
}

.result-details li:not(:first-child) {
    border-left: 0;
    padding: 0;
}

.result-details li p,
.result-details li span {
    font-size: 17px;
}

.wrapper .content-box {
    padding: 5px;
}

.typing-text p {
    font-size: 18px;
}

.result-details li {
    margin-bottom: 10px;
}

.footer-banner {
    position: fixed;
    bottom: 5px;
    right: 5px;
    border-radius: 5px;
    background-color: #1b67da;
    color: white;
    text-align: center;
    padding: 5px 0px;
    font-family: Arial, sans-serif;
}

.footer-banner b {
    color: black;
    text-shadow: 1px 0px white;
}

.footer-banner #ins {
    background-color: white;
    width: 99.5%;
    border-left: 1px #333 solid;
    border-right: 1px #333 solid;
    color: #333;

}